.parrafo {
  padding: 10px;
  color: azure;
  background-color: hsla(41, 52%, 8%, 0.201);
  text-align: center;
}



.imgsvs {
  padding: 10px;
  @include center-flex(column);

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.parrafosvs {
  margin: 10px;
  text-align: justify;
  font-size: larger;
  font-style: italic;
}

.listado {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style-type: none; 
}